<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мои брони</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>


<main class="profile-container">
  <h2>Мои бронирования</h2>

  {{#if reservations.length}}
    <table class="tariff-table3">
      <thead>
      <tr>
        <th>Склад</th>
        <th>Начало</th>
        <th>Окончание</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      {{#each reservations}}
        <tr>
          <td>{{this.warehouse.location}}</td>
          <td>{{formatDate this.start_date}}</td>
          <td>{{formatDate this.end_date}}</td>
          <td>{{this.status}}</td>
          <td>
            {{#if (eq this.status "pending")}}
              <form method="POST" action="/payment/pay">
                <input type="hidden" name="reservationId" value="{{this.id}}">
                <button type="submit" class="btn-primary">Оплатить</button>
              </form>
            {{/if}}
            {{#unless (eq this.status "confirmed")}}
              <form method="POST" action="/reservation/{{this.id}}/delete">
                <button type="submit" class="btn-danger">Отменить</button>
              </form>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>У вас пока нет броней.</p>
  {{/if}}
</main>
