<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Отзывы</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

{{#if isAdmin}}
<main>
  <section class="table-container">
    <p>Время обработки запроса на сервере: {{elapsedTime}}</p>

    {{#if reviews.length}}
      <table class="tariff-table4">
        <thead>
        <tr>
          <th>Склад</th>
          <th>Пользователь</th>
          <th>Оценка</th>
          <th>Комментарий</th>
          <th>Дата</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {{#each reviews}}
          <tr>
            <td>{{this.warehouse.location}}</td>
            <td>{{this.user.username}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.comment}}</td>
            <td>{{formatDate this.created_at}}</td>
            <td>
                  <form method="POST" action="/review/{{this.id}}/delete">
                    <button type="submit" class="btn-danger">Удалить</button>
                  </form>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>Пока нет отзывов.</p>
    {{/if}}



  </section>
</main>


{{/if}}

{{#if (or isUser (not user))}}
  <main>

    <section class="table-container">
      <p>Время обработки запроса на сервере: {{elapsedTime}} </p>

      <form id="createReviewForm" method="POST" action="/review/create">
        <label for="rating">Оценка (1-5):</label>
        <input type="number" name="rating" placeholder="Оценка (1-5)" min="1" max="5" required>

        <label for="text">Комментарий:</label>
        <input type="text" name="comment" placeholder="Ваш отзыв">

        <button type="submit">Оставить отзыв</button>
      </form>
      {{#if reviews.length}}
        <table class="tariff-table3">
          <thead>
          <tr>
            <th>Склад</th>
            <th>Пользователь</th>
            <th>Оценка</th>
            <th>Комментарий</th>
            <th>Дата</th>
          </tr>
          </thead>
          <tbody>
          {{#each reviews}}
            <tr>
              <td>{{this.warehouse.location}}</td>
              <td>{{this.user.username}}</td>
              <td>{{this.rating}}</td>
              <td>{{this.comment}}</td>
              <td>{{formatDate this.created_at}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>Пока нет отзывов.</p>
      {{/if}}


    </section>
  </main>


{{/if}}


<script>
  const form = document.getElementById('createReviewForm');

  form.addEventListener('submit', async function (e) {
    e.preventDefault();

    const formData = new FormData(form);
    const payload = new URLSearchParams(formData);

    try {
      const response = await fetch('/review/create', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: payload,
      });

      if (response.ok) {
        form.reset();
        alert('Отзыв успешно отправлен!');
      } else {
        const error = await response.json();
        alert( error.message || 'Ошибка при отправке отзыва');
      }
    } catch (err) {
      alert('Сервер не отвечает или произошла ошибка.');
    }
  });
</script>

