<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Отзывы</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

{{#if isAdmin}}
<main>
  <section class="table-container">

    {{#if reviews.length}}
      <table class="tariff-table4">
        <thead>
        <tr>
          <th>Склад</th>
          <th>Пользователь</th>
          <th>Оценка</th>
          <th>Комментарий</th>
          <th>Дата</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {{#each reviews}}
          <tr>
            <td>{{this.warehouse.location}}</td>
            <td>{{this.user.username}}</td>
            <td>{{this.rating}}</td>
            <td>{{this.comment}}</td>
            <td>{{this.created_at}}</td>
            <td>
                  <form method="POST" action="/review/{{this.id}}/delete">
                    <button type="submit" class="btn-danger">Удалить</button>
                  </form>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <p>Пока нет отзывов.</p>
    {{/if}}

  </section>
</main>
{{/if}}

{{#if (or isUser (not user))}}
  <main>
    <section class="table-container">

      <form method="POST" action="/review/create">
        <label for="rating">Оценка (1-5):</label>
        <input type="number" name="rating" placeholder="Оценка (1-5)" min="1" max="5" required>

        <label for="text">Комментарий:</label>
        <input type="text" name="comment" placeholder="Ваш отзыв">

        <button type="submit">Оставить отзыв</button>
      </form>
      {{#if reviews.length}}
        <table class="tariff-table3">
          <thead>
          <tr>
            <th>Склад</th>
            <th>Пользователь</th>
            <th>Оценка</th>
            <th>Комментарий</th>
            <th>Дата</th>
          </tr>
          </thead>
          <tbody>
          {{#each reviews}}
            <tr>
              <td>{{this.warehouse.location}}</td>
              <td>{{this.user.username}}</td>
              <td>{{this.rating}}</td>
              <td>{{this.comment}}</td>
              <td>{{this.created_at}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>Пока нет отзывов.</p>
      {{/if}}

    </section>
  </main>
{{/if}}
